# Environnement
venv/
.env

# Données (On ne versionne jamais le dataset, seulement le code)
data/

# Python & OS
__pycache__/
*.pyc
.DS_Store
.vscode/

# Jupyter
*.ipynb_checkpoints
.ipynb

# Logs
logs/*.log

*.txt

catboost_info/

# Modèles sauvegardés
models/
